<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookshop Orders</title>
</head>
<body>
    <h1>Bookshop Orders</h1>
        <ul>
            {%for order in orders%}
            <li>
                <p>{{order.customer_name}} {{order.order_date}} {{order.quantity}} {{order.book_title}} {{order.isbn}}</p>
            </li>
            {%endfor%}
        </ul>
</body>
</html>

