<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bookshop.css">
    <title>Customer Details</title>
</head>
<body>
    <h1>Customer Details</h1>
    <ul>
        <li>
            <p>Name: {{orders.customer_name}}</p>
            <p>Order Date: {{orders.order_date}}</p>
            <p></p>Book Order: {{orders.quantity}} x {{orders.book_title}}</p>
            <p>ISBN: {{orders.isbn}}</p>
        </li>
    </ul>
</body>
</html>